<h1>Your Order</h1>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @listing.name %></td>
            <td><%= @listing.price%></td>
        </tr>
    </tbody>
</table>

<button id="pay-now">Checkout now</button>

<script src="https://js.stripe.com/v3/"></script>
